/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@font-face {
    font-family: appFont;
    src: url(fonts/Iceberg-Regular.ttf);
}

html {
  height: 100%;
}

body {
  background-image:url(../img/wooden-texture-background.jpg);
  height: 100%;
  width: 100%;
  margin: 0;
  text-align: center;
  font-size: 20px;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

a {display:none;}

h1 {
    display:none;
    color: grey;
    font-family: appFont;
    font-size:5em;
    font-weight:normal;
    margin:0px;
    margin-top: 20px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

button {
  height: 15%;
  width: 50%;
  margin-top: 15%;
  border-radius: 10px;
  font-size: 1.25em;
  font-family: appFont;
}

#menu {
  height: 100%;
  width: 100%;
}
